*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
}

body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;

	font-family: 'Josefin Sans', sans-serif;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
	object-fit: cover;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

a {
	text-decoration: none;
}

:root {
	--bg-color: #fff8f1;

	--primary-col: #120808;
	--secondary-col: #ea7564;

	--white: #fffdf4;
	--gray: #918881;

	--border-radius: 8px;
}

body {
	background-color: var(--bg-color);
	min-height: 100dvh;

	overflow-x: hidden;

	font-family: 'Lato', sans-serif;
}

p {
	color: var(--gray);
	font-weight: 600;
}

footer {
	text-align: center;
	padding-block: 1rem;
	background: var(--primary-col);
	color: var(--white);
}

footer p {
	color: var(--white);
	font-weight: initial;
}

footer a {
	color: var(--secondary-col);
	font-weight: 600;
}

.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	padding-inline: 3rem;
}

ul {
	list-style: none;
}

header {
	margin-bottom: 2rem;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;

	padding-block: 1rem;
}

.logo {
	background-color: var(--primary-col);
	color: var(--white);

	width: 50px;
	height: 50px;

	display: grid;
	place-items: center;
}

.logo h1 {
	font-size: 2.2rem;
	font-weight: 400;
}

.cta-btn {
	font-weight: 600;

	padding: 0.8rem 3rem;

	border: 2px solid;
	border-radius: 100vh;

	transition: all 250ms;
}

.cta-btn[primary] {
	background-color: var(--primary-col);
	color: var(--white);
}

.cta-btn[primary] {
	background-color: var(--primary-col);
	color: var(--white);
}

.cta-btn[primary]:hover {
	background-color: var(--secondary-col);
}

.cta-btn[secondary] {
	background-color: var(--secondary-col);
	color: var(--white);
}

.cta-btn[secondary]:hover {
	background-color: var(--primary-col);
}

main section {
	margin-bottom: 4rem;
}

section.hero-text {
	text-align: center;

	padding-inline: 13rem;
}

section.hero-text h2 {
	font-size: 3.5rem;
}

section.hero-text p {
	padding-inline: 3rem;
}

section.services {
	margin-bottom: 8rem;
}

section.services ul {
	min-height: 380px;

	display: grid;
	grid-template-areas:
		'design ui apps photo'
		'design ill ill graphics';
	gap: 1rem;
}

section.services .graphic-design {
	grid-area: design;
	background-color: #755cde;
}

section.services .ui-ux {
	grid-area: ui;
	background-color: #f6a460;
}

section.services .apps {
	grid-area: apps;
	background-color: #f39d9e;
}

section.services .photography {
	grid-area: photo;
	background-color: #55214a;
}

section.services .illustrations {
	grid-area: ill;
	background-color: #ea7564;
}

section.services .motion-graphics {
	grid-area: graphics;
	background-color: #61c4b7;
}

section.services li {
	display: grid;
	grid-template-rows: 1fr auto;

	padding: 0.5rem 1rem;
	border-radius: var(--border-radius);

	overflow: hidden;
}

section.services img {
	height: 120px;
	object-fit: cover;

	margin-left: auto;
}

section.services a {
	order: 1;

	color: var(--white);
	font-size: 1.2rem;
	font-weight: 600;
}

section.testimonial {
	display: flex;
	align-items: center;
	justify-content: space-between;

	gap: 8rem;
}

section.testimonial img {
	width: 460px;
	aspect-ratio: 1/1;
	object-position: top;

	border-radius: 100%;
}

section.testimonial article {
	display: flex;
	align-items: start;
	flex-direction: column;
	gap: 1.5rem;
}

section.testimonial article h2 {
	font-size: 2.4rem;
	text-wrap: balance;
}

section.testimonial article p {
	width: 80%;
}

/* TODO: Carousel styles */

section.book-call {
	display: grid;
	grid-template-columns: 1fr auto;
	gap: 18rem;
	align-items: center;

	background-color: var(--primary-col);
	color: var(--white);

	padding: 5rem 4rem;
	margin-bottom: 3rem;

	border-radius: var(--border-radius);
}

section.book-call h2 {
	font-size: 2rem;
	margin-bottom: 1rem;
}

section.book-call p {
	color: var(--white);
	font-weight: 400;
}

section.book-call a {
	border: 2px solid var(--secondary-col);
}
