*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
}

body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;

	font-family: 'Josefin Sans', sans-serif;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
	object-fit: cover;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

a {
	text-decoration: none;
}

:root {
	--bg-color: #fff8f1;

	--primary-col: #030303;
	--secondary-col: #ea7564;

	--white: #fffdf4;
	--gray: #918881;
}

body {
	background-color: var(--bg-color);
	min-height: 100dvh;

	overflow-x: hidden;

	font-family: 'Lato', sans-serif;
}

footer {
	text-align: center;
	padding-block: 1rem;
	background: var(--primary-col);
	color: var(--white);
}

footer a {
	color: var(--gray);
}

.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	padding-inline: 3rem;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;

	padding-block: 1rem;
}

.logo {
	background-color: var(--primary-col);
	color: var(--white);

	width: 50px;
	height: 50px;

	display: grid;
	place-items: center;
}

.logo h1 {
	font-size: 2.2rem;
	font-weight: 400;
}

.cta-btn {
	background-color: var(--primary-col);
	color: var(--white);

	padding: 0.8rem 2rem;
	border-radius: 100vh;
	font-weight: 600;

	transition: all 250ms;
}

.cta-btn:hover {
	background-color: var(--secondary-col);
}
